@charset "UTF-8";

.photo-gallery img {
	width: 100%;
	height: 260px;
}

.intro{
	margin-top: 50px;
	width: 100%;
	height: 180px;
}


.intoSubject{
	text-align: center;
	float: left;
	width: 30%;
	height: 180px;
	line-height: 160px;
}
.intoContent{
	float: left;
	width: 70%;
	height: 180px;
}
.intoWritten{
	width:100%
	height: 170px;
}

.linkBtn{
	width:100%;
	height: 50px;
	line-height: 100px;
	flex-direction: column; 
}




