<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="infor">
	<select id="dataCountInformation" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		from orderinfo o
		JOIN member1 m ON o.memberIdx = m.memberIdx
		JOIN order_detail od ON o.orderId = od.orderId
		WHERE od.productNum=#{productNum}

	</select>
	
	<select id="listInformation" parameterType="map" resultType="com.sp.app.selltab.infor.Information">
		SELECT o.orderId, userId, userName, TOTAL_PRICE, count
		from orderinfo o
		JOIN member1 m ON o.memberIdx = m.memberIdx
		JOIN order_detail od ON o.orderId = od.orderId
		WHERE od.productNum=#{productNum}
		ORDER BY order_date DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="dataCountReview" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
	 	FROM review r
	 	JOIN member1 m ON r.userId = m.userId
	 	WHERE r.productNum = #{productNum}
	</select>
	
	<select id="listReview" parameterType="map" resultType="com.sp.app.selltab.infor.Review">
		SELECT r.productNum, r.listNum, m.userName, r.userId, content, starScore, created
		FROM review r
		JOIN member1 m ON r.userId = m.userId
		WHERE r.productNum = #{productNum}
		ORDER BY listNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="dataCountQna" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM sellqna q
		JOIN member1 m ON r.userId = m.userId
	 	WHERE q.productNum = #{productNum}
	</select>
	
	<select id="listQna" parameterType="map" resultType="com.sp.app.selltab.infor.Qna">
		SELECT num, q.userId, m.userName, content, q.created, state
		FROM sellqna q
		JOIN member1 m ON q.userId = m.userId
		WHERE productNum=#{productNum}
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

</mapper>