<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="seq" resultType="Integer">
		SELECT notice_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertNotice" parameterType="com.sp.app.notice.Notice">
		INSERT INTO notice(listNum, userId, subject, content, notice, hitCount, created)
				VALUES(#{listNum}, #{userId}, #{subject},
					#{content}, #{notice}, 0, SYSDATE)
	</insert>
	
	<select id="listNoticeTop" resultType="com.sp.app.notice.Notice">
		SELECT n.listNum, notice, n.userId, userName, subject, hitCount, 
				TO_CHAR(created, 'YYYY-MM-DD') created
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
		WHERE notice =  1
		ORDER BY listNum DESC
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
	</select>
	
	<select id="listNotice" parameterType="map" resultType="com.sp.app.notice.Notice">
		SELECT n.listNum, notice, n.userId, userName, subject, hitCount, 
				TO_CHAR(created, 'YYYY-MM-DD') created
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
		WHERE notice =  0
		ORDER BY listNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	 </select>
	 
	<select id="readNotice" parameterType="Integer" resultType="com.sp.app.notice.Notice">
		SELECT listNum, n.userId, userName, subject, content, created, hitCount, notice
		FROM notice n
		JOIN member1 m ON n.userId=m.userId 
		WHERE listNum = #{listNum}
	</select>
	
	<select id="preReadNotice" parameterType="map" resultType="com.sp.app.notice.Notice">
		SELECT listNum, subject
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
		WHERE (listNum &gt; #{listNum})
		ORDER BY listNum ASC
		FETCH FIRST 1 ROWS ONLY
    </select>
    
    <select id="nextReadNotice" parameterType="map" resultType="com.sp.app.notice.Notice">
		SELECT listNum, subject
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
		WHERE (listNum &lt; #{listNum})
		ORDER BY listNum DESC
		FETCH FIRST 1 ROWS ONLY
    </select>
	
	<update id="updateNotice" parameterType="com.sp.app.notice.Notice">
		UPDATE notice SET subject=#{subject},
				content=#{content}, notice=#{notice}
		WHERE listNum=#{listNum}
	</update>
	
	<delete id="deleteNotice" parameterType="Integer">
		DELETE FROM notice WHERE listNum=#{listNum}
	</delete>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE notice SET hitCount=hitCount+1 WHERE listNum = #{listNum}
	</update>
</mapper>

